/* reset code and common starts here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

:root {
  --border-radius: 16px;
  --font-family-primary: "Helvetica", sans-serif;
  --font-weight-primary: 400;
  --color-background: #f5e9e9;
  --color-font: #360036;
  --color-hover: #5c015c;
}

html,
body {
  width: 100%;
  height: 100%;
}

.App {
  background-color: var(--color-background);
  color: var(--color-font);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.textanalysis {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 20px;
}

form * {
  width: 100%;
}

select {
  color: var(--color-font);
  border: 2px solid var(--color-font);
  border-radius: 12px;
  background-color: #f8f8f8;
  font-size: 16px;
  padding: 5px;
}
/* reset code and common ends here */

/* header starts here */
.header {
  background-color: var(--color-font);
  color: var(--color-background);
  width: 100%;
  height: fit-content;
}
h1 {
  margin: 20px;
  font-size: 45px;
}
/* header ends here */

/* TextInput starts here */
.glevel {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  justify-items: center;
}

.textandlabel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textandlabel label {
  flex-basis: 100%;
}

.textarea {
  width: 100%;
  min-width: 400px;
  max-width: 500px;
  height: 350px;
  padding: 20px;
  border: 2px solid var(--color-font);
  border-radius: var(--border-radius);
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  white-space: wrap;
  overflow: auto;
  text-align: left;
}

.textarea:empty:before {
  content: attr(data-placeholder);
  color: #999;
}

.submit {
  margin: auto;
  padding: 12px 20px;
  border: 2px solid var(--color-background);
  border-radius: var(--border-radius);
  background-color: var(--color-font);
  color: #f8f8f8;
  font-size: 16px;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--color-hover);
}

.highlighted {
  background-color: pink;
  color: blue;
}
/* TextInput ends here */

/* AnalysisResult starts here */
.result {
  min-width: 400px;
  height: 400px;
  border: 2px solid var(--color-font);
  border-radius: var(--border-radius);
  background-color: #f8f8f8;
  padding: 20px;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

DangerousIcon {
  vertical-align: bottom;
}

li {
  display: inline-block;
  text-align: start;
  justify-content: center;
}

.fail {
  color: #990000;
}

.pass {
  color: green;
}
/* AnalysisResult ends here */

/* Footer starts here */
.footer {
  background-color: var(--color-font);
  color: var(--color-background);
  width: 100%;
  height: 5rem;
  position: fixed;
  bottom: 0;
  padding: 20px;
}

.footer a {
  text-decoration: underline;
  color: #f5d5d5;
}
/* Footer ends here */

/* Media queries start here */

@media (max-width: 600px) {
  form,
  .result,
  .submit {
    display: block;
    width: 90%;
    min-width: 250px;
    max-width: 100%;
    margin: auto;
  }

  .textanalysis {
    padding-bottom: 100px;
  }

  .footer {
    height: fit-content;
  }
}
